---
pagination:
  data: minutes.years
  size: 1
  alias: years
permalink: "minutes/{{ years.year | slugify }}/"
layout: layouts/base.njk
---

<h1 class="text-2xl">Minutes {{years.year}}</h1>

<ul>
  {% for item in years.minutes %}
  <li class="py-1"><a href="{{ item.link }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
