---
layout: layouts/base.njk
---

<div class="container mx-auto">
  <img class="mx-auto w-full h-82 object-cover rounded-lg" src="/img/tof-sign.jpg" alt="Picture of the Twin Oaks Farm HOA Community Entrance Sign">
</div>

<div class="flex flex-col space-y-6 py-6">
  <div>
    Twin Oaks Farm Homeowners Association is a 213-home community located 15 miles south of Washington, DC in Woodbridge, VA.
  </div>

  <div>
    Situated just 1 mile from I-95, this upscale community boasts walking trails through scenic wooded common grounds, 3 tot lots, a basketball court, a swimming pool with separate baby pool and a 100 person capacity community room available for residents to rent.
  </div>

  <div>
    As this neighborhood only has 1 access point, there is never any thru traffic enabling it to maintain its calm, quiet ambiance that is so rare in the metro DC area.
  </div>
</div>
